<nav>
  <button class="menu-toggle" onclick="toggleMenuMobile()" aria-label="Abrir menu">&#9776;</button>
  <ul id="navMenu">
    <li><a href="/index.html">Início</a></li>

    <li class="dropdown">
      <a href="/salario.html">Calculadoras</a>
      <span class="dropdown-toggle" onclick="toggleMenu(event)">&#9660;</span>
      <ul class="dropdown-menu">
        <li><a href="/salario.html">Salário</a></li>
        <li><a href="/transferencia.html">Transferência</a></li>
        <li><a href="/calculadora-de-defasagem.html">Defasagem de Transferência</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="/explicacoes.html">Explicações</a>
      <span class="dropdown-toggle" onclick="toggleMenu(event)">&#9660;</span>
      <ul class="dropdown-menu">
        <li><a href="/blog/compensacao-organica.html">Adicional de compensação orgânica</a></li>
        <li><a href="/blog/adicional-disponibilidade.html">Adicional de disponibilidade</a></li>
        <li><a href="/blog/adicional-habilitacao.html">Adicional de habilitação</a></li>
        <li><a href="/blog/adicional-localidade.html">Adicional de localidade especial</a></li>
        <li><a href="/blog/compensacao-organica-voo.html">Compensação orgânica de voo</a></li>
        <li><a href="/blog/cotas-de-voo.html">Cotas de voo incorporadas</a></li>
        <li><a href="/blog/cubagem-militar.html">Cubagem</a></li>
        <li><a href="/blog/defasagem-de-transferencia.html">Defasagem de transferência</a></li>
        <li><a href="/blog/descontos-salario.html">Descontos</a></li>
        <li><a href="/blog/irpf.html">Imposto de Renda</a></li>
        <li><a href="/blog/pensao-militar.html">Pensão militar</a></li>
        <li><a href="/blog/periodo-transito.html">Período de trânsito</a></li>
        <li><a href="/blog/promocao-carreira-militar.html">Promoção na carreira</a></li>
        <li><a href="/blog/reserva-remunerada.html">Reserva remunerada</a></li>
        <li><a href="/blog/salario-militar.html">Salário militar</a></li>
        <li><a href="/blog/soldo-dos-militares.html">Soldo dos militares</a></li>
        <li><a href="/blog/tabela-de-escalonamento-vertical.html">Tabela de escalonamento vertical</a></li>
        <li><a href="/blog/transferencia-militar.html">Transferência</a></li>
        <li><a href="/blog/transferencia-vs-movimentacao.html">Transferência x movimentação</a></li>
      </ul>
    </li>

    <li><a href="/legislacoes.html">Legislações</a></li>
    <li><a href="/sobre.html">Sobre</a></li>
  </ul>
</nav>
