<nav>
  <ul>
    <li><a href="index.html">Início</a></li>
    <li><a href="salario.html">Salário</a></li>
    <li><a href="transferencia.html">Transferência</a></li>

    <li class="dropdown">
     <a href="explicacoes.html">Explicações</a>
<span class="dropdown-toggle" onclick="toggleMenu(event)"></span>
      <ul class="dropdown-menu">
        <li><a href="soldo-dos-militares.html">Soldo dos militares</a></li>
        <li><a href="/blog/adicional-habilitacao.html">Adicional habilitação</a></li>
        <li><a href="/blog/adicional-disponibilidade.html">Adicional disponibilidade</a></li>
        <li><a href="adicional-localidade.html">Adicional localidade Especial</a></li>
        <li><a href="descontos-salario.html">Descontos</a></li>
        <li><a href="transferencia-militar.html">Transferência</a></li>
        <li><a href="cubagem-militar.html">Cubagem</a></li>
        <li><a href="periodo-transito.html">Período de trânsito</a></li>
        <li><a href="/blog/irpf.html">Imposto de Renda</a></li>
      </ul>
    </li>

    <li><a href="legislacoes.html">Legislações</a></li>
    <li><a href="sobre.html">Sobre</a></li>
  </ul>
</nav>